@model IEnumerable<FablabCatalagoVirtualCapasEN.Club>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreClub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreClub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detalle)
        </td>
        
    </tr>
}

</table>
