@{
	ViewBag.Title = "Home Page";
}

<main>
	<p class="txt">
		<b>FabLab/ESFE Pagina Principal</b>
	</p>
	<section class="flex-container">
		<article class="text-content">


			<p class="txtsize">
				<b>FABLAB ESFE/AGAPE:</b>
				Laboratorio de Innovación e Investigación que promueve un entorno con espacios, equipos para formar y promover en los jóvenes y personal académico, el desarrollo de competencias de Innovación e Investigación requeridas por la currícula de cada una de las carreras que se imparten en la institución, facilitando el desarrollo de prototipos de soluciones vinculadas a proyectos educativos, Innovación y Desarrollo (I+D).
				Este laboratorio se convertirá en un espacio que facilite a los estudiantes y docentes el aprendizaje cooperativo en la búsqueda de soluciones a situaciones problemáticas a través del desarrollo de soluciones innovadoras.
			</p>
		</article>

		<article class="carousel-content">
			<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="~/images/ft1.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft2.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft3.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft4.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft5.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft6.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft7.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft8.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft9.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft10.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="~/images/ft11.png" class="d-block w-100" alt="...">
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</article>
	</section>
	<section class="colorsito objective-section">
		<h2>
			<b>Objetivos-Valores</b>
		</h2>

		<div class="objective-container">
			<div class="objective-card">
				<img src="~/images/ftobj.png" alt="Imagen Objetivo" class="objective-img">
				<p class="objective-text">
					<strong>Objetivo General:</strong>
					Promover la Innovación e Investigación en la comunidad educativa ESFE a través de facilitar espacios equipados con recursos tecnológicos y materiales para el desarrollo de nuevos conocimientos, competencias tecnológicas y de innovación a través de acciones y proyectos.
				</p>
			</div>

			<div class="objective-card">
				<img src="~/images/ftval.png" alt="Imagen Valores" class="objective-img">
				<p class="objective-text">
					<strong>Valores:</strong>
					Educación, Creatividad, Diseño, Innovación y Emprendimiento.
				</p>
			</div>
		</div>
	</section>
	<section>
		<h2>
			<b>Equipos y herramientas</b>
		</h2>
		<div class="equipos-container">
			<div class="cards">
				<img src="~/images/ftimpre.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Impresora 3D</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ftcnc.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">CNC Routers</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ft5eje.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">CNC 5 Ejes</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ftlaser.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Laser</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ftscan.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">3D Scanner</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ftardui.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">KIT'S ARDUINO</h5>
				</div>
			</div>
			<div class="cards">
				<img src="~/images/ftenerge.jpg" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Equipo de Eficiencia Energética</h5>
				</div>
			</div>
		</div>
	</section>

</main>
